
* {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}



#btn {
  width: 160px;
  height: 30px;
  margin-top: 15px;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

#users {
  font-size: 12px;

}

body h2, body ul {
  margin-top: 15px;
  margin-left: 20px;
}
